.input--text__label {
	display: flex;
	align-items: center;
	padding-left: var(--space-sm);
	gap: var(--space-xs);
	background-color: var(--white);
	border-radius: var(--border-radius);
}

.input--text__label:focus-within {
	outline: 2px solid var(--accent);
}

.input--text__label svg {
	fill: var(--accent);
	height: 20px;
}

.input--text {
	width: 100%;
	border: none;
	border-bottom-right-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	padding: var(--space-xs);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-light);
}

.input--text:focus-visible {
	outline: none;
}

.input--text::selection {
	background-color: var(--accent);
	color: var(--white);
}
