.contactsListContainer,
.contactsList {
	display: flex;
	flex-direction: column;
	gap: var(--space-md);
}

.contactsFavouriteGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
	gap: var(--space-md);
}

.contactsListHeader {
	display: flex;
	justify-content: space-between;
	gap: var(--space-sm);
}

.contactsListHeader button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	padding-right: var(--space-sm);
}

.contactsListHeader button svg {
	margin-right: var(--space-xs);
	width: 20px;
	height: 20px;
	fill: var(--accent);
}

@media (min-width: 768px) {
	.contactsFavouriteGrid.oneItem {
		grid-template-columns: 250px;
	}
}

.contactsList.contactsReverseOrder {
	flex-direction: column-reverse;
}

.cardContainer:focus-visible {
	outline: 2px solid var(--accent);
	border-radius: var(--border-radius);
}
