.formRoot {
	display: flex;
	flex-direction: column;
	gap: var(--space-md);
	align-items: start;
}

.contactAvatar {
	align-self: center;
}

.formField {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
}

.formField:has(button) {
	width: unset;
}

.formInputContainer {
	display: grid;
	gap: var(--space-sm);
	grid-template-columns: 80px 1fr;
	align-items: center;
}

.formInputContainer:has(button) {
	width: unset;
}

.formMessagesContainer {
	text-align: right;
}

.formMessage {
	font-size: var(--font-size-sm);
	opacity: 0.5;
	color: red;
}

.formLabel {
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-medium);
}

.input {
	all: unset;
	box-sizing: border-box;

	font-size: 16px;
	font-weight: var(--font-weight-light);

	border: none;
	border-radius: var(--border-radius);
	background-color: var(--light);
	padding: var(--space-sm);
}

.input:disabled,
.toggle:disabled {
	background-color: var(--white);
	font-size: var(--font-size-md);
	color: var(--blackLowOpacity);
	fill: var(--blackLowOpacity);
	outline: 2px solid var(--light);
}

.input:hover:not(:disabled),
.toggle:hover:not(:disabled) {
	outline: 2px solid var(--accent);
}

.input::placeholder {
	opacity: 0.4;
}

.inputCheckbox {
	height: 25px;
	width: 25px;
	accent-color: #6e56cf;
}

.input:focus-visible {
	outline: 2px solid var(--accent);
}

.input::selection {
	background-color: var(--accent);
	color: var(--white);
}

.toggle {
	background-color: var(--light);
	fill: var(--accent);
	border-radius: 50%;
	padding: var(--space-xs);
	border: none;

	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.toggle:not([disabled]) {
	cursor: pointer;
}

.toggle:not([disabled]):active {
	box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.toggle svg {
	height: 20px;
	width: 20px;
}

.formButtons {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--space-md);
}

.formButtons button {
	cursor: pointer;
	border: none;
	border-radius: var(--border-radius);
	padding: var(--space-md);
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-bold);
}

.formButtons button:active {
	box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.formButtons button.formPrimaryButton {
	background-color: var(--black);
	color: var(--light);
}

.formButtons button.editPrimaryButton {
	background-color: var(--accent);
	color: var(--white);
}
