.alert__overlay {
	background-color: var(--light);
	opacity: 0.6;
	position: fixed;
	inset: 0;
	animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.alert__content {
	background-color: white;
	border-radius: var(--border-radius);
	box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	max-width: 500px;
	max-height: 500px;
	padding: var(--space-lg);
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.alert__content:focus {
	outline: 1px solid var(--accent);
}

.alert__content__title {
	margin: 0;
	font-size: 17px;
	font-weight: 500;
}

.alert__content__description {
	margin-bottom: 20px;
	font-size: 15px;
	line-height: 1.5;
}

.alert__content__buttons {
	display: flex;
	gap: var(--space-sm);
	justify-content: flex-end;
}

.alert__content__buttons button {
	border-radius: var(--border-radius);
	border: none;
	padding: var(--space-xs);
	font-weight: var(--font-weight-medium);
}

.alert__content__buttons button:focus {
	outline: 1px solid var(--accent);
}

.alert__content__buttons button:active {
	box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.alert__content__buttons button.alert__content__buttons--primary {
	background-color: red;
	color: var(--white);
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}
