.contactCard--favourite,
.contactCard {
	background-color: var(--light);
	display: flex;
	justify-content: space-between;
	border-radius: var(--border-radius);
}

.contactCard--favourite {
	height: 100%;
	flex-direction: column;
	gap: var(--space-sm);
	padding: var(--space-md) 0 0 var(--space-md);

	overflow: hidden;
}

.contactCard--favourite:hover {
	background-color: var(--white);
}

.contactCard--favourite span:first-child,
.contactCard span:first-child {
	font-weight: var(--font-weight-light);
}

.contactCard--favourite .contactCard__name span:last-child,
.contactCard .contactCard__name span:last-child {
	font-weight: var(--font-weight-medium);
}

.contactCard--favourite .contactCard__name {
	padding-right: var(--space-md);
}

.contactCard--favourite .contactCard__name span:first-child {
	display: block;
}

.contactCard--favourite .contactCard__avatar {
	height: 120px;
	width: 105%;
	text-align: right;
}

@media (min-width: 576px) {
	.contactCard--favourite .contactCard__avatar {
		width: 100%;
	}
}

.contactCard--favourite .contactCard__avatar img {
	height: 100%;
	width: auto;

	object-fit: cover;
}

.contactCard {
	align-items: center;
	padding: var(--space-sm);
}

.contactCard .contactCard__avatar {
	height: 40px;
}

.contactCard .contactCard__avatar img {
	height: 100%;
	width: auto;
	object-fit: contain;
}
