.select__trigger {
	display: flex;
	align-items: center;
	padding: 0 var(--space-sm);
	gap: var(--space-xs);
	background-color: var(--white);
	border-radius: var(--border-radius);
	border: none;
	outline: 2px solid var(--light);
}

.select__trigger:disabled {
	color: var(--black);
}
.select__trigger:disabled .select__icon svg {
	fill: var(--accentLowOpacity);
}

.select__trigger:hover:not(:disabled) {
	outline: 2px solid var(--accent);
}
.select__trigger:focus,
.select__trigger:active {
	outline: 2px solid var(--accent);
	box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.select__trigger span:first-child {
	display: flex;
	align-items: center;
	gap: var(--space-xs);
	padding: var(--space-xs) 0;
	flex-grow: 1;
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-light);
}

.select__trigger span:first-child svg {
	height: 20px;
	fill: var(--accent);
}

.select__icon {
	width: 13px;
	height: 13px;
	fill: var(--accent);
}

.select__content {
	overflow: hidden;
	font-size: var(--font-size-sm);

	background-color: var(--white);
	border-radius: 6px;
	box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.select__viewport {
	width: 200px;
	padding: var(--space-sm) 0 0;
}

.select__label {
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-regular);
	padding: 0 var(--space-sm);
	padding-bottom: var(--space-sm);
}

.select__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--space-xs);
	padding: var(--space-sm);

	user-select: none;
}

.select__item[data-highlighted] {
	outline: none;
	background-color: var(--light);
}

.select__item span {
	display: flex;
	align-items: center;
	gap: var(--space-xs);
}

.select__item span svg {
	height: 20px;
	fill: var(--accent);
}

.select__item__indicator svg {
	padding-right: var(--space-sm);
	height: 13px;
	fill: var(--accent);
}

.select__button--scroll {
	height: 20px;
	fill: var(--accent);
	background-color: white;

	cursor: default;
}
